# Editor polution
.vscode
.dir-locals.el

# General python junk
__pycache__/
*.egg-info
.coverage

# CI/CD/Tooling
docs/_build
docs/generated
docs/coverage.rst

# Program outputs
*.onnx
runs/**
