# Emote

[Introduction](./intro.md)

# Design

- [Coding standard](./coding-standard.md)
- [Editing documentation](./documentation.md)
- [Metrics](./metrics.md)
- [Getting started](./getting_started.md)
- [Callback system](./callback.md)

# API Reference

{{apibook_toc}}
